.window__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--title-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
}

.window__close:hover {
  background-color: var(--title-color);
  box-shadow: none;
}

.logo__close {
  color-adjust: #000;
}

.logo__close:hover {
  fill: var(--web-color);
}